{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/security.css') }}">
    <link rel="stylesheet" href="{{ asset('css/champion-vue.css') }}">
    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
{% endblock %}

{% block body %}
    <div id="security" class="account-data security">
        <div class="title-security" id="title-account">
            <div id="summoner-name">
                {{ summonerData.getSolo().getSummonerName() }}
            </div>
            <div id="summoner-icon">

            </div>
        </div>
        <div id="account-info-container">
            <div class="summoner-solo-data-container">
                <div class="summoner-data font-custom">
                    Ranked Solo / Duo :
                </div>
                <div class="summoner-data rank">
                    <div class="rank-img-container">
                        <img class="tier-img" src="{{ asset('images/ranked-emblems/Emblem_'~ summonerData.getSolo().getTier() ~'.png') }}"  alt="{{ asset('images/Emblem_'~ summonerData.getSolo().getTier() ~'.png') }}"/>
                    </div>
                    <div class="rank-container font-custom">
                        {{ summonerData.getSolo().getTier() }} {{ summonerData.getSolo().getRank() }}
                    </div>
                </div>
                <div class="lp-container font-custom">
                    <div class="progress-circle"  data-value="{{ summonerData.getSolo().getLeaguePoints() }}" isAccount="1">
                        <div class="progress-masque">
                            <div class="progress-barre"></div>
                            <div class="progress-sup50"></div>
                        </div>
                    </div>
                </div>
                <div class="ratio-w-d">
                    <div class="summoner-data font-custom">
                        W : {{ summonerData.getSolo().getWins() }} /
                    </div>
                    <div class="summoner-data font-custom">
                        D : {{ summonerData.getSolo().getLosses() }}
                    </div>
                </div>
            </div>

            <div class="summoner-flex-data-container">
                <div class="summoner-data font-custom">
                    Ranked Flex :
                </div>
                <div class="summoner-data rank">
                    <div class="rank-img-container">
                        <img class="tier-img" src="{{ asset('images/ranked-emblems/Emblem_'~ summonerData.getFlex().getTier() ~'.png') }}"  alt="{{ asset('images/Emblem_'~ summonerData.getSolo().getTier() ~'.png') }}"/>
                    </div>
                    <div class="rank-container font-custom">
                        {{ summonerData.getFlex().getTier() }} {{ summonerData.getFlex().getRank() }}
                    </div>
                </div>
                <div class="lp-container font-custom">
                    <div class="progress-circle" data-value="{{ summonerData.getFlex().getLeaguePoints() }}"  isAccount="1">
                        <div class="progress-masque">
                            <div class="progress-barre"></div>
                            <div class="progress-sup50"></div>
                        </div>
                    </div>
                </div>
                <div class="ratio-w-d">
                    <div class="summoner-data font-custom">
                        W : {{ summonerData.getFlex().getWins() }} /
                    </div>
                    <div class="summoner-data font-custom">
                        D : {{ summonerData.getFlex().getLosses() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
