{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/security.css') }}">
{% endblock %}

{% block body %}
<div id="security">
    <div class="title-security">
        <span>S'inscrire</span>
    </div>

    <div class="form-security">
        {{ form_start(registrationForm) }}
        <div class="field-security">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="field-security">
            {{ form_row(registrationForm.password) }}
        </div>
        <div class="field-security">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <label>
            Summoner name
            <input id="inputAjaxSummonerName" name="summoner_name" />

        </label>
        <button class="btn-security" type="submit" id="submitButton" disabled>Register</button>
        {{ form_end(registrationForm) }}
    </div>
</div>


{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/ajax_input_summoner_name.js') }}"></script>
{% endblock %}
