{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/champion.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/champion-vue.css') }}">
{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="champions">
        <div class="champion-vue-head parts">
            <div id="champion-head-image">
                <img id="champion-image" src="{{ champion.getImage() }}"/>
            </div>
            <div id="champion-head-infos">
                <div id="champion-head-name" class="champion-head-infos">
                    <span id="champion-name">{{ champion.getName() }}</span>
                </div>
                <div id="champion-title" class="champion-head-infos">
                    <span>{{ champion.getTitle() }}</span>
                </div>
            </div>
            <div id="tags" class="parts">
                {% for tags in champion.getTags() %}
                    <div class="tags ">
                        {{ tags }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="blurb parts">
            {{ champion.getBlurb() }}
        </div>
        <div class="champion-spells parts">

        </div>
        <div class="infos-champ-container">
            {% for info, value in champion.getInfo() %}
                <div class="infos-champ">
                    <div class="progress-circle" data-value="{{ value*10 }}" isAccount="0" data-info="{{ info }}">
                        <div class="progress-masque">
                            <div class="progress-barre"></div>
                            <div class="progress-sup50"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="stats-container">
            <div class="stats">
                Points de vie : {{ champion.getStats()['hp'] }}
            </div>
            <div class="stats">
                Points de mana :  {{ champion.getStats()['mp'] }}
            </div>
            <div class="stats">
                Vitesse de déplacement :  {{ champion.getStats()['movespeed'] }}
            </div>
            <div class="stats">
                Points d'armure :  {{ champion.getStats()['armor'] }}
            </div>
            <div class="stats">
                Portée :  {{ champion.getStats()['attackrange'] }}
            </div>
            <div class="stats">
                Points d'AD :  {{ champion.getStats()['attackdamage'] }}
            </div>
            <div class="stats">
                Vitesse d'attaque :  {{ champion.getStats()['attackspeed'] }}
            </div>
        </div>
    </div>
{% endblock %}
