.summoner-solo-data-container, .summoner-flex-data-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 50%;
}

.account-data{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#account-info-container{
    display: flex;
    justify-content: flex-start;

}

#title-account{
    width: 100%;
}

.summoner-data{
    margin: 30px 0 30px 0;
}

.tier-img{
    width: 50%
}

.font-custom{
    font-size: 1.5em;
    font-weight: bold;
}

.rank{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.rank-container, .rank-img-container, .lp-container, .ratio-w-d{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}