.champions {
  color: #303d6b;
  width: 960px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#champions-list-container{
  min-height: 980px;
}


#link-paginate{
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination{
  margin: 50px 0 0 0;
}

.pagination a {
  color: #303d6b;
}
.pagination a:hover {
  color: #006699;
}


.champion-box{
  margin: 10px 10px 10px 10px;
  display: flex;
  padding: 5px;
  flex-direction: column;
}

.picture{
  height: 120px;
  width: 120px;
  position: relative;
}

.free-headbrand {
  position: absolute;
  background-color: red;
  color: white;
  font-size: 20px;
  right: -1px;
  padding: 0 5px;
  transform: rotate(45deg);
  top: 20px;
}

.champion-name{
  color: #303d6b;
  width: 100%
}


