#header{
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #303d6b;
}

.topside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 30%;
    margin-top: 6px;
}

#logo_img{
    margin: 35px 25px 35px 25px;
    width: 70%;
}

a ,a:hover{
    color: #ffffff;
    font-size: larger;
    text-decoration: none;
}

.menu{
    flex-grow: 5;
    display: flex;
    justify-content: space-around;
}

.connexion{
    flex-grow: 2;
}

.search_bar{
    display: flex;
    justify-content: center;
}
input{
    height: 30px;
    width: 400px;
    border: none;
}
#search_bar_form{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon{
    width: 30px;
}

.login{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.login_span-div{
    margin: 4px 1px 1px 10px;
}


#footer{
    margin: 30px 0 0 0;
    background-color: #303d6b;
    color: #FFFFFF;
    padding: 50px 10px 30px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    font-size: large;
}
