.champion-block {
    width: 910px;
    margin: auto;
}

body {
    min-height: 960px;
    background-color: #ffffff;
    width: auto;
    margin: auto;
}

@font-face {
    font-family: 'Roboto';
    src: url("../font/Roboto-Regular.ttf") format('truetype');
}

*{
    font-family: 'Roboto';
}


#wall-container{
    min-height: 270px;
    position: relative;
    width: 100%;
    background: url("../images/lolwallpaper.png")no-repeat;
    background-size: 100% 100%;
    -webkit-box-shadow: inset 1px 158px 30px -116px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 1px 158px 30px -116px rgba(0,0,0,0.75);
    box-shadow: inset 1px 158px 30px -116px rgba(0,0,0,0.75);
}

