
#security{
    color: #303d6b;
    width: 960px;
    display: flex;
    margin: auto;
    min-height: 980px;
    flex-direction: column;
}

.title-security{
    margin: 60px 0 30px 0;
    color: #303d6b;
    font-weight: bold;
    font-size: 3em;
}

.form-security{
    display: flex;
    flex-direction: column;
}

.field-security{
    margin: 40px 15px 40px 15px;
}

input{
    margin: 0 0 0 20px;
    border: #303d6b 1px solid;
}

input#registration_form_agreeTerms{

    height: 20px;
    margin: 10px 0 0 -150px;
}

.btn-security{
    background-color: #303d6b;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 200px;
}

.btn-security:disabled{
    background-color: #999999;
    color: #303d6b;
}