{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/security.css') }}">
    <link rel="stylesheet" href="{{ asset('css/champion-vue.css') }}">
    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
{% endblock %}

{% block body %}



    {% if summoner %}
        <div id="security" class="account-data security">
            <div class="title-security" id="title-account">
                <div id="summoner-name">
                    {{ summoner.getSolo().getSummonerName() }}
                </div>
                <div id="summoner-icon">

                </div>
            </div>
            {% if summoner.getSolo()!= null %}
            <div id="account-info-container">
                <div class="summoner-solo-data-container">
                    <div class="summoner-data font-custom">
                        Ranked Solo / Duo :
                    </div>
                    <div class="summoner-data rank">
                        <div class="rank-img-container">
                            <img class="tier-img" src="{{ asset('images/ranked-emblems/Emblem_'~ summoner.getSolo().getTier() ~'.png') }}"  alt="{{ asset('images/ranked-emblems/Emblem_'~ summoner.getSolo().getTier() ~'.png') }}"/>
                        </div>
                        <div class="rank-container font-custom">
                            {{ summoner.getSolo().getTier() }} {{ summoner.getSolo().getRank() }}
                        </div>
                    </div>
                    <div class="lp-container font-custom">
                        <div class="progress-circle"  data-value="{{ summoner.getSolo().getLeaguePoints() }}" isAccount="1">
                            <div class="progress-masque">
                                <div class="progress-barre"></div>
                                <div class="progress-sup50"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ratio-w-d">
                        <div class="summoner-data font-custom">
                            W : {{ summoner.getSolo().getWins() }} /
                        </div>
                        <div class="summoner-data font-custom">
                            D : {{ summoner.getSolo().getLosses() }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if summoner.getFlex() != null %}
                <div class="summoner-flex-data-container">
                    <div class="summoner-data font-custom">
                        Ranked Flex :
                    </div>
                    <div class="summoner-data rank">
                        <div class="rank-img-container">
                            <img class="tier-img" src="{{ asset('images/ranked-emblems/Emblem_'~ summoner.getFlex().getTier() ~'.png') }}"  alt="{{ asset('images/ranked-emblems/Emblem_'~ summoner.getFlex().getTier() ~'.png') }}"/>
                        </div>
                        <div class="rank-container font-custom">
                            {{ summoner.getFlex().getTier() }} {{ summoner.getFlex().getRank() }}
                        </div>
                    </div>
                    <div class="lp-container font-custom">
                        <div class="progress-circle" data-value="{{ summoner.getFlex().getLeaguePoints() }}"  isAccount="1">
                            <div class="progress-masque">
                                <div class="progress-barre"></div>
                                <div class="progress-sup50"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ratio-w-d">
                        <div class="summoner-data font-custom">
                            W : {{ summoner.getFlex().getWins() }} /
                        </div>
                        <div class="summoner-data font-custom">
                            D : {{ summoner.getFlex().getLosses() }}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if not summoner %}
        <div id="security" class="account-data security">
            <div class="title-security" id="title-account">
                Aie ...
            </div>
            <div id="account-info-container">
                Il semble que cet invocateur n'existe pas ! :(
            </div>
        </div>
    {% endif %}
{% endblock %}
