<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ProjectLOL.gg{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

</head>
<body>
{% include 'header.html.twig' %}
{% block body %}{% endblock %}
{% include 'footer.html.twig' %}
{% block javascripts %}{% endblock %}
</body>
</html>
