
<div id="footer">
    <div class="Contact">Royer Quentin <br> Projet Web L3</div>
    <div class="coordonnées">
        coordonnées :
        <div class="coordonnées-child">
            quentinr62@hotmail.fr
        </div>
    </div>
    <div class="ulco"><a href="https://www.univ-littoral.fr/">ulco</a></div>
</div>