<div id="header">
    <div class="topside">
        <div class="logo">
            <a href="{{ path('homepage') }}"><img id="logo_img" src="{{ asset('images/logo.svg') }}" alt="LOGO"></a>
        </div>
        <div class="menu">
            <a href="{{ path('champion_list') }}">Liste des champions</a>
            <div class="search_bar">
                <form id="search_bar_form" method="POST" action="{{ path('summoner_search') }}">
                    <input id="search_bar" name="summoner-search" type="text" placeholder=" Search summoner name .." />
                </form>
            </div>
        </div>
        <div class="connexion">
            <div id="login_div">
                {% if app.user %}
                    <a class="login" href="{{ path('my_account') }}">
                        <div id="icon_account-div">
                            <img class="icon" src="{{ asset('images/icon_account.png') }}">
                        </div>
                        <div class="login_span-div">
                            <span class="login_span">Mon compte</span>
                        </div>
                    </a>
                {% else %}
                    <a class="login" href="{{ path('app_login') }}">
                        <div id="icon_account-div">
                            <img class="icon" src="{{ asset('images/icon_account.png') }}">
                        </div>
                        <div class="login_span-div">
                            <span class="login_span">Connexion</span>
                        </div>
                    </a>
                {% endif %}
            </div>
            {% if not app.user %}
                <div id="register_div">
                    <a class="login" href="{{ path('app_register') }}">
                        <div id="icon_account-div">
                            <img class="icon" src="{{ asset('images/register.png') }}">
                        </div>
                        <div class="login_span-div">
                            <span class="login_span">S'inscrire</span>
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

