{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/champion.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/security.css') }}">
{% endblock %}

{% block body %}
    <div id="wall-container">
    </div>
    <div id="security">
        <div class="title-security">
            Rotation, champions gratuits :
        </div>
        <div class="champions">
            {% for champion in champions %}
                {% if champion.getIsFree() %}
                    <a class="button-champion-box" href="/champion/list/{{ champion.getId() }}">
                        <div class="champion-box">
                            <div class="picture">
                                <img src="{{ champion.getImage() }}" class="card-img-top champion-image"
                                     alt=" {{ champion.getName() }}">
                            </div>
                            <div class="champion-name">
                                <p class="card-title">{{ champion.getName() }}</p>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
