{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/champion.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}
{% block body %}
    <div id="champions-list-container">
        <div class="champions">
            {% for champion in champions_paginated %}
                <a class="button-champion-box" href="/champion/list/{{ champion.getId() }}">
                    <div class="champion-box">
                        <div class="picture">
                            {% if champion.getIsFree() %}
                                <div class="free-headbrand">Gratuit</div>
                            {% endif %}
                            <img src="{{ champion.getImage() }}" class="card-img-top champion-image"
                                 alt=" {{ champion.getName() }}">
                        </div>
                        <div class="champion-name">
                            <p class="card-title">{{ champion.getName() }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <div id="link-paginate">
                {{ knp_pagination_render(champions_paginated) }}
            </div>
        </div>
    </div>
{% endblock %}
